@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
    // For Google Chrome
    &::-webkit-scrollbar {
      width:  $size;
      height: $size;
    }
  
    &::-webkit-scrollbar-thumb {
      background: $foreground-color;
      border: 0.5px solid #1c2634;
      border-radius: 10px 0 0 10px;
    }
  
    &::-webkit-scrollbar-track {
      background: $background-color;
    }
  
    // For Internet Explorer
    & {
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background-color;
    }
  }

.TicketDetails-container{
    width: 100vw;
    position: relative;
    .popup-background-wrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.425);
    }
    .status-popup-wrapper{
        .close-wrapper{
            position: absolute;
            right: 0;
            top:0;
            padding: 5px;
            &:hover{
                cursor: pointer;
            }
        }
        position: absolute;
        margin:auto;
        width: 40%;
        height: 40%;
        background-color: #1c2634;
        left:30%;
        top:30%;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .buttons-wrapper{
            width: 100%;
            height: 40%;
            display: flex;
            flex: row;
            flex-grow: 2;
            align-items: flex-end;
            justify-content: center;
            button{
                width:20%;
                height: 20%;
                margin: 10px;
                border-radius: 5%;
                border: 1px solid #1c2634;
                background-color: rgb(0, 0, 0);
                color:white;
            }
        }
    }
}  

.ticket-details-bottom-container{
    height: 95.5vh;
    width:100%;
    display: flex;
    flex-direction: row;
    font-family: "Proxima Nova";
    
    .all-tickets-wrapper{
       
        width: 15%;
        
        background: #181C28;
        

        .header-wrapper{
            color:white;
            width: 100%;
            height: 8%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-radius: 0 0 6px 0;
            padding-right: 3px;
            border-bottom: 1px solid #FD7272;
            overflow: hidden;
            
            

           .back-arrow-wrapper{
               width: 25%;
               height: 80%;
               color: white;
           }
            
            .all-tickets-header-text-wrapper{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                width: 70%;
                
            }
            img{
                width: 50%;
                height: 60%;
            }
        }
        .ticket-snapshot-wrapper{
            background-color: #292D39;
            color: white;
            margin: 3%;
            margin-top:8%;
            padding: 2px;
            padding-top: 0;
            border-radius: 2px 4px 4px 2px;
            position: relative;
            overflow: hidden;
            width: 88%;
            height: 18%;
            box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.233);
            p{
                padding-left:10px ;
                font-size: 15px;
                font-family: "Proxima Nova";
            }

            .ticket-snapshot-left-border{
                height: 100%;
                width: 3px;
                position: absolute;
                left: 0;
                background-color: black;
            }

            .snapshot-heading-wrapper{
                padding: 15px;
                padding-bottom: 5px;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                font-size: 14px;
                .date-text{
                    font-size: 10px;
                }
                i{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    opacity: 0.7;
                }
                
            }
            
           
            
        }
        
    }

    .ticket-brief-wrapper{
        @include scrollbars(5px,#FD7272, #181C28);
        background-color: #181C28;
        color:#06A99C;
        border-right: 1px solid rgba(0, 0, 0, 0.253);
        border-top: 0;
        width: 22%;
        box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.329);
        border-radius: 3px;
        overflow: overlay;
        font-size: 14px;
        

        .ticket-brief-heading-wrapper{
            position: relative;
            height: 18%;
            padding:20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            
            span{
                width: 80%;
                margin: 3px;
            }
            h3{
                margin-bottom: 0px;
                width: 40%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
            }

            .ticket-brief-heading-horizontal-line-wrapper{
                position: absolute;
                bottom: 0%;
                width: 80%;
                height: 0px;
                border: 1px  dashed  #FD7272;
            }
        }
        
        .ticket-brief-information-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            color:#9D92B2;
            font-weight: bold;
            padding: 20px;
            padding-left: 30px;
        .status-wrapper{
            width: 100%;
            color: #9D92B2;
            font-weight: bold;
        }
            
            select{
                border: none;
                color: #06A99C;
                width: 60%;
                border-bottom: 1.5px solid #FF9416;
                background-color: transparent;
                font-weight: normal;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                -webkit-appearance: none;
                transition: all ease-in-out 0.5s;
                option{
                    font-weight: normal;
                    background-color: #181C28;
                }
            }
            select:focus{
                border: none;
                color: #06A99C;
                font-size: 14px;
                border-bottom: 1.5px solid #FD7272;
                width: 70%;
            }
            option:focus{
                width: 70%;
            }
            

            div{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-bottom: 10px;
                

                span{
                    font-size: 14px;
                    margin-bottom: 2px; 
                }
            }
            
            
            .date-time-wrapper{
                font-weight: normal;
                color: #06A99C;
            }
            .red-text{
                color: red;
            }

            .ticket-brief-location-wrapper{
                
                .city-text{
                    color: #06A99C  ;
                    font-size: 15px;
                    font-weight: normal;
                }
            }

            .assigned-officer-wrapper{
                display: flex;
                flex-direction: column;
                
                width: 100%;
                font-weight:bold ;
                color: #9D92B2;

                .profile-wrapper{
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: stretch;
                    margin:4px;
                    margin-left: 0;
                    
                    color: #06A99C;
                    font-weight: bold;
                    span{
                        margin-left: 4px;
                    }

                    .profile-picture-wrapper{
                    display: none;
                    width:20px;
                    height:20px;
                    border: 1px solid black;
                    border-radius: 50%;
                    position: relative;
                    bottom: 2.5px;
                    }
                }
                
            }
            
        }
        
    }

    .selected-ticket-details-wrapper{       
        width: 33%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex-grow: 1;
        background: #181C28;

        
        .selected-ticket-header-wrapper{
            width: 100%;
            height: 15%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            color:#FF9416;

            .id-and-subject-wrapper{
                display: flex;
                width: 100%;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between ;


                .subject-right-side-wrapper{
                    width: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                }
            }

            .web-icon-wrapper{
                height: 80%;
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .selected-ticket-heading-wrapper{
                width: 80%;
                height: 50%;
                padding: 2%;
                font-weight: bolder;
                font-size: 18px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                padding-bottom: 0;

                p{
                    margin: 0;
                }
                .time-wrapper{
                    font-size: 14px;
                    font-weight: lighter;
                    color: #06A99C;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    img{
                        margin-right: 3px;
                    }
                }

               
            }
            .id-and-subject-wrapper:hover{
                cursor: pointer;
            }

        }
        .ticket-details-sub-nav-wrapper{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-evenly;
            width: 100%;
            padding: 5px 0px;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: normal;
            color: white;
            border-top: 1px solid rgba(0, 0, 0, 0.404);
            border-bottom: 1px solid rgba(0, 0, 0, 0.514);
            box-shadow: 0px 2px 8px -3px rgb(0, 0, 0);
             div:hover{
                 cursor: pointer;
                 font-size: 11px;
             }

             div{
                 transition: all ease-in-out 0.5s;
             }
        }   
    

        .total-ticket-details-wrapper{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 25px;
            padding-right: 0;
            flex-grow: 1;
            width: 96.5%;
            overflow: auto;
            color: #9D92B2;

            
            .name-wrapper{
                width: 100%;
                
            }
            
            .username-wrapper{
                font-weight: bolder;
                text-transform: lowercase;
                font-size: 14px;
                width: 100%;
                margin-bottom: 0;
                span{
                    margin-left: 1%;
                }
            }
            .details-date-wrapper{
                color: #9D92B2;
                font-size: 10px;
                font-weight: lighter;
                text-transform: capitalize;
            }

            .ticket-description{
                font-weight: normal;
                color: #06A99C;
                font-size: 12px;
                padding-bottom: 5px;;
                margin-bottom: 15px;
                overflow: visible;
                border-bottom: 1px solid #FD7272;
            }

            .ticket-replies-wrapper{
                @include flexProvider(flex-start,space-evenly ,column );
                width:100%;
                height: inherit;
                overflow: auto;
                color: #06A99C;
                
                .individual-reply-wrapper{
                    
                    height: 25%;
                    width: 98%;
                    border-bottom: 0.4px solid #FD7272;
                    padding:5px;
                    padding-bottom: 0;
                    margin-bottom: 3px;
                    @include flexProvider(flex-start,space-evenly ,column);
                    font-size:14px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

                    .reply-heading-wrapper{
                        @include flexProvider(flex-start,space-between ,row );
                        width: 100%;
                        span{
                            color: #9D92B2;
                        }
                    }
                }
                .profile-wrapper{
                    background-image: url('../images/avatar.png');
                    height:30px;
                    width: 30px;
                    border-radius: 50%;
                    background-size: cover;
                }
            }
        }
        .resolution-wrapper{
            form{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                border: 1px solid rgba(0, 0, 0, 0.534);
            }
            textarea{
                border: none;
                padding-top: 10px;
                background-color: transparent;
            }
            input[type='submit']{
                background-color: #1c2634;
                color:white;
                border: none;
                width: 100px;
                height: 30px;
                border-radius: 4%;
                margin: 5px;
                cursor: pointer;
                transition: all ease-in 0.5s;
            }
            input[type='submit']:hover{
                padding-right: 25px;
                
            }
            
        }
    }
    .history-container{
        width: 100%;
        height: 100%;
        background:#181C28;
        padding: 25px;
        overflow: auto;
        .individual-change-wrapper{
            position: relative;
            width: 50%;
            height: 14%;
            margin-bottom: 35px;
            background: #292D39;
            padding: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            color: white;
            font-family: "Proxima Nova";
            font-size: 18px;
            line-height: 24px;

            .top-right-corner-dot{
                position: absolute;
                background: rgb(67, 134, 67);
                width: 6px;
                height: 6px;
                border-radius: 50%;
                right: 2%;
                top:5%;
            }

            .change-connector{
                position: absolute;
                width: 2px;
                height: 50%;
                top:100%;
                left: 16%;
                background: white;
            }
            
            .assigned-icon-wrapper{
                width: 11.904%;
                height: 100%;
                background:url('../images/assigned.png') no-repeat;
                background-size:100%;
            }
            .raised-icon-wrapper{
                width: 11.904%;
                height: 100%;
                background:url('../images/hand.png') no-repeat;
                background-size:100%;
            }
            .resolving-icon-wrapper{
                width: 11.904%;
                height: 100%;
                background:url('../images/hand.png') no-repeat;
                background-size:100%;
            }
            .awaiting-icon-wrapper{
                width: 11.904%;
                height: 100%;
                background:url('../images/response.png') no-repeat;
                background-size:100%;
            }
            .review-icon-wrapper{
                width: 11.904%;
                height: 100%;
                background:url('../images/review.png') no-repeat;
                background-size:100%;
            }
            .escalated-icon-wrapper{
                width: 11.904%;
                height: 100%;
                background:url('../images/escalator.png') no-repeat;
                background-size:100%;
            }
            .closed-icon-wrapper{
                width: 11.904%;
                height: 100%;
                background:url('../images/CLOSED.png') no-repeat;
                background-size:100%;
            }
            .re-opened-icon-wrapper{
                width: 11.904%;
                height: 100%;
                background:url('../images/OPEN.png') no-repeat;
                background-size:100%;
            }
            .change-text-wrapper{
                flex-grow: 2;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid white;
                margin-left: 10px;
            }
        }
    }
    
}


.green-text{
    color:#06A99C;
    font-weight: normal;
}
.chat-image{
    background: #181C28;
}